  <style>
                .invoice {
                    border: 1px solid #7d7d7d;
                    margin-left: auto;
                    margin-right: 0%;
                    text-align: center;
                }
                
                .left {
                    text-align:left;
                }
                
                .right {
                    text-align:right;
                }
                
                .desc {
                    border: 1px solid #7d7d7d;
                    background-color: #D2D9EB;
                    width: 100%;
                    margin-right: auto;
                    margin-left: auto;
                }
                .billto{
                    border: 1px solid #7d7d7d;
                    background-color: #D2D9EB;
                    width: 50%;
                    text-align:left;
                }
                .Heading {
                    color: blue;
                    font-weight: bold;
                    font-family: Tahoma, Geneva, sans-serif font-size : 40 px;
                    text-align: right;
                    padding-left: 2cm;
                }
                .data {
                    border: 1px solid #7d7d7d;
                    width: 100%;
                    margin-right: auto;
                    margin-left: auto;
                    text-align:center;
                }
                table {
                    border: 1px solid #7d7d7d;
                    border-collapse: collapse;
                    width: 40%;
                }
                table,td {
                    background-color: #D2D9EB;
                    color: black;
                    text-align: center;
                    border: 1px solid #7d7d7d;
                }
                tr {
                    background-color: #D2D9EB;
                    color: black;
                    text-align: left;
                    border: 1px solid #7d7d7d;
                }
                th {
                    background-color: #D2D9EB;
                    color: black;
                    text-align: center;
                    border: 1px solid #7d7d7d;
                }
                td {
                    background-color: white;
                }
                .datelist {
                    width: 60%;
                }
                .contact{
                    text-align:center;
                    width: 100%;
                }
                
                
                .abc {
                    line-height:30px;
                    float:left;
                    padding:5px;
                }
                
                #in {
                    width:350px;
                    float:right;
                    padding:10px;
                }
                
                
            </style>   